/* .corner:before {
    content: "";
  position: absolute;
  right: 100%;
  top: 0px;
  height: 0px;
  width: 0px;
  border-top: 20px solid transparent;
  border-right: 10px solid #00ff02;
  border-bottom: 20px solid transparent;
  border-radius: 20px;
}

.corner:after {
    content: "";
  position: absolute;
  left: 100%;
  top: 0px;
  height: 0px;
  width: 0px;
  border-top: 20px solid transparent;
  border-left: 10px solid #00ff02;
  border-bottom: 20px solid transparent;
  border-radius: 20px;
} */